.bundle
db/*.sqlite3
log/*.log
tmp/
config/database.yml
nbproject/
vendor/cache/
.idea/*
.idea/dictionaries/marcin.xml
.idea/*xml
public/assets/*
.sass-cache/*
*.swp
*.DS_Store
/public/system/*
coverage/
coverage.data
.rvmrc
