- if !kudo.comments.empty?
 .border1
- for comment in kudo.comments.reverse do
 %p.comment_cont{:class => cycle('odd', 'even')}
  
  %span.commenter= comment.user.to_s
  %span.comment_text= comment.comment
  %br/
  %span.kudo_date
   = comment.created_at.to_s(:short)

  - if comment.is_allowed_to_be_removed_by? current_user
   = link_to "x", kudo_comment_path(kudo, comment), :method  => :delete, :confirm => I18n.t(:are_you_sure)