!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      = t(:dear_user, :user => @first_name).html_safe
      %br/
      Welcome to OurKudos!
      %br/
      Please click 
      = succeed ' ' do
        = link_to 'HERE', confirmation_url(:id => @confirmation.key, :account => @account)
      to confirm your email.
    %p= image_tag 'ourkudos_mailbag_logo.gif'