= t(:dear_user, :user => @first_name)

Thanks for signing up for OurKudos.com. All you have to do now is click the link below to confirm that you own this email account. 

Please confirm your registration by clicking on the link below:

= confirmation_url(:id => @confirmation.key, :account => @account)