!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p= t(:dear_user, :user => @email).html_safe

    %p You can confirm your identity through the link below:

    %p= link_to t(:confirm_my_account), confirmation_url(:id => @confirmation.key, :account => @account)

    