!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    //%p= t(:dear_user, :user => @email).html_safe

    %p= t :kudo_email_explanation, :author => @author

    %p= @kudo.kudo.body[0..100] + "..."

    %p= SETTINGS[:test_environment_special_message] if SETTINGS[:sign_up_disabled] == "yes"

    %p= link_to t(:see_entire_message_on_ourkudos), invite_url(:kudo_id => @kudo.key.to_s, :email => @email)

