!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      Entered Username: 
      = @user
    %p
      IP address: 
      = @ip

    %p
      User Agent: 
      = @user_agent


