!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p= t(:dear_user, :user => @user.first_name).html_safe

    %p= t(:password_changed_notification)

    %p= t(:otherwise_click_here_to_undo, :here => link_to("here", undo_user_password_changes_url(:user_id => @user.old_password_salt))).html_safe

