!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p= t(:dear_user, :user => @user.first_name).html_safe

    %p= t(:you_have_successfuly_changed_your_password, :to => @password)

