%h1
 Send Kudos Back.
 %span.reddened It's Fast, Free and Fun!
 .kudo_message_cont
#kudo_sender_cont
 %p= image_tag 'kudos-avatar-icon.png'
.kudo_message_bubble_cont
 .kudo_message_bubble_nipple
 .invitation-form
  %p= text_area_tag 'kudo_body', nil, :placeholder => "write something positive!"

  = render :partial => "kudos/invitation_registration_form"

%button.kudo_reply_submit_btn{:type => "submit"}
 = link_to image_tag('send-now-btn.png', :class => "submit-invitation-form"), new_user_registration_path(:user => {:email => @kudo.email })
.clearing