.kudo_message_cont
 = image_tag('avatar_ben.jpg', :class=>'avatar')
 .kudo_message_bubble_cont
 .kudo_message_top
  .kudo_message_mid
   .kudo_message_text_cont
    %p
     %span.sender= kudo.author.to_s
     %span.greater_than &gt;
     %span.receiver= kudo.recipients_readable_list
   %p= kudo.body
  .kudo_flag_cont.kf_dimmed
  .clearing
 .kudo_message_bot
.clearing