- content_for(:title) { @kudo.body }

.wrapper-main
  = render 'home_page_kudo', :kudo => @kudo

  = unless current_user
    %p= image_tag('kudos_hugging.png')
    %p= link_to image_tag('join_now_button.png', :alt=>"Join Ourkudos now!"), new_user_registration_path unless sign_up_disabled?
