#header_user_info
  %h4 Welcome
  %h4= current_user.first_name
  %p#header_user_info_nav
    = link_to "My Account", user_path(current_user)
    &bull;
    = link_to('Sign Out', destroy_user_session_path)
  = image_tag(current_user.current_profile_picture, :id => 'user_avatar', :class=>'avatar')