= link_to image_tag('ourkudos_header_logo.png', :id => 'header-logo'), '/'
= image_tag('header_motto_splash.png', :id => 'header-motto-splash')
= link_to image_tag('sign_in_button.png', :id => 'sign-in-button'), new_user_session_path