%h2
  Select a card
#cards_img_slider
  #carousel
    %div{:class => 'infiniteCarousel'}
      %div{:class => 'wrapper'}
        %ul
          -@attachments.each do |attachment|
            %li
              %p{:name => attachment.id, :class => 'card_link'}
                %span{:class => 'carousel_img'}
                  = image_tag(attachment.attachment.url(:thumb), :data => {:attachment_id => attachment.id})
                %br
                = truncate(attachment.name, :length => 20)
                %br

  #pages
    %p
      Page
      %span{:id => 'current_page'}
      of
      %span{:id => 'total_pages'}
  #card_message
    %p
      E-card added. Click 'Send' and your card and Kudos will be sent!
