%h1
  OurKudos is the place to
  %br
  celebrate the good in our world.
%h2 Simple communications for a complex world
%p OurKudos is a free, easy and fun way to share your appreciation with those in your...
%p Kudos are short messages showing your appreciation or praise. In the past, this might...
%h2 Kudos make you smile
%p Every time you visit OurKudos you'll see the Kudos you've sent or received, reminding... 
%h2 Kudos are for everyone
%p No one is too young or too old to give or receive Kudos. Kudos brings families, friends and...
  