.wrapper-main
  %h1 Kudos at your service!
  
  %h2 OurKudos Basics
  %ul
    %li What are Kudos?
    %li Sending Kudos
    %li Profile and account settings
    %li Finding people
    %li About privacy
    %li Get more help
    
  %h2 I'm Having Problems with...
  %ul
    %li I can't sign into my account
    %li I can't create an account
    %li I can't confirm my account
    %li I can't send Kudos
    %li I can't connect using my Facebook account
    %li I am being harassed
  
  %h2 What are Kudos?
  %p Kudos are short messages of praise or gratitude. They can be given for something as simple as a friend lending a hand or as meaningful as praising an officer for risking his life for you.
  
  %h2 Sending Kudos
  %p Sending Kudos is as simple as entering the recipient's name or email address and typing your Kudos. Once you send Kudos, they appear in your sent Kudos area for easy access. You can even "un-send" Kudos if you accidentally sent them to the wrong person or said something that you want to take back.
  
  %h2 Finding People
  %p Once you're signed in, you may find any OurKudos member by typing their name in the search box at the top of the OurKudos Homepage. We'll show you members with that name who live close to you or who are in your Facebook or Twitter lists, if you've connected your account with those services.
  
  %h2 Privacy
  %p OurKudos is a public site for sharing praise and gratitude. By default, all Kudos are published for the world to see. However, when you send Kudos, you may state that you wish the Kudos to be visible only by your friends, or even just the recipient. The choice is yours.