/* variable definitions */
$site_width_main: 1024px;
$site_width_admin: 1250px;

/* color definitions */
$headers_blue: #1f6994;
$warning_red: #c90816;
$very_very_light_blue: #EFFAFF;


$very_light_gray: #ccc;
$light_gray: #9a9a9a;
$medium_gray: #787878;
$dark_gray: #555;
$very_dark_gray: #333;

$yellow: #fbffbd;

$light_green: #8ed123;
$medium_green: #7eb61d;
$dark_green: #6b9617;

/* mixin definitions */
@mixin rounded-edges($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@font-face {
    font-family: 'NunitoRegular';
    src: url('nunito-regular-webfont.eot');
    src: url('nunito-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('nunito-regular-webfont.woff') format('woff'),
         url('nunito-regular-webfont.ttf') format('truetype'),
         url('nunito-regular-webfont.svg#NunitoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NunitoBold';
    src: url('nunito-bold-webfont.eot');
    src: url('nunito-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('nunito-bold-webfont.woff') format('woff'),
         url('nunito-bold-webfont.ttf') format('truetype'),
         url('nunito-bold-webfont.svg#NunitoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
