/*
 *= require master
 *= require jquery-ui-1.8.13.custom
 *= require jquery-ui-custom-overrides
 *= require wysiwyg
 CSS Admin section styles
*/

@import "variables_and_mixins";

body {
	font-size: 65%;
	line-height: 1;
}

#mainarea {
	width: $site_width_admin;
	margin: 0 auto;
}

#header {
	width: $site_width_admin;
	height: 125px;
	position: relative;
}

#header_user_info {
	position: absolute;
	right: 160px;
	bottom: -8px;
	padding: 20px 30px;
	width: 263px;
	height: 58px;
	background: url(header_user_info_bg.png) no-repeat left top;
	color: #effaff;
}

#header_user_info_nav {
	position: absolute;
	bottom: 0;
}

#header_user_info_nav a {
	color: #effaff;
	text-decoration: none;
	font: 1.1em Verdana, Helvetica, Arial, sans-serif;
}

#header_user_info_nav a:hover {
	border-bottom: 1px dotted #effaff;
}

#header_user_info h4 {
	font: normal 1.6em "Copse", Arial, Helvetica, sans-serif;
	color: #effaff;
}

img#user_avatar {
	position: absolute;
	right: 30px;
	top: 25px;
}

#main_top {
	width: 1014px;
	height: 27px;
	margin: 0 auto;
	background: url(main_top_bg.png) no-repeat left top;
}

#main {
	width: 1014px;
	margin: 0 auto;
	background: url(main_bg.png) repeat-y left top;
	padding-bottom: 50px;
}

.wrapper-main {
	padding: 0 30px;
}

ul#nav_admin {
	list-style: none;
	font: 1.2em "Lucida Sans Unicode", "Lucida Grande", verdana, helvetica, sans-serif;
	margin-bottom: 15px;
	
	li#admingiftinglink:hover {
		border-bottom: 1px dotted $medium_gray;
	  color: $medium_gray;
	}
	
	> li {
		display: inline;
		padding-right: 10px;
	
	  a {
	  	text-decoration: none;
	  	color: $very_dark_gray;
	  	
	  	&:hover {
	  		border-bottom: 1px dotted $medium_gray;
	  		color: $medium_gray;
	  	}
	  }
	}
}

body#admin_users li#userslink a, body#admin_sites li#apiclientsiteslink a, 
body#admin_roles li#roleslink a, body#admin_forbidden_passwords li#forbiddenpasswordslink a,
body#admin_settings li#systemoptionslink a, body#admin_kudo_categories li#kudocategorieslink a, 
body#admin_reports li#adminreportslink a, body#admin_kudo_flags li#kudosflagslink a,
body#admin_affiliate_programs li#admingiftinglink, body#admin_merchants li#admingiftinglink, 
body#admin_gift_groups li#admingiftinglink, body#admin_gifts li#admingiftinglink {
	color: $headers_blue;
	
	&:hover {
		border-bottom: 0;
	}
}

h3 {
	font: normal 1.3em "Copse", Verdana, Helvetica, sans-serif;
	color: $dark_gray;
}


table.admin_type1 {
	width: 100%;
	background-color: #fff;
	
	th {
		padding: 8px 0;
		font: 1.1em "Lucida Sans Unicode", "Lucida Grande", verdana, helvetica, sans-serif;
		background-color: $very_light_gray;
		
		a {
			color: $very_dark_gray;
		}
		
	}
	
	td {
		font: 1.2em "Andale Mono", "Lucida Sans Unicode", "Lucida Grande", monospace;
		padding: 8px 0 8px 10px;
		border-bottom: 1px dotted $very_light_gray;
	}	
	
}

ul.admin_list {
	list-style: none;
	
	li {
		font: 1.2em "Andale Mono", "Lucida Sans Unicode", "Lucida Grande", monospace;
		width: 40em;
		border-bottom: 1px dotted $very_light_gray;
		padding: 5px 5px;
		
		a {
		  padding-left: 5px;
			float: right;
		}	
	}
}



#gift {
  .label {
    font-weight: bold;
    font-size: 1.2em;
  }
}
#gift_img {
  width: 40%;
  float: left;
  img {
    padding: 5px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 1px 1px 1px #000;
    -moz-box-shadow: 1px 1px 1px #000;
    -webkit-box-shadow: 1px 1px 1px #000;
    
  }
}
#gift_details {
  width: 40%;
  overflow: hidden;
  float: left;
}

/* admin drop-down navigation */
ul.admin_subnav {
	display: none;
	width: 12em;
	position: absolute;
	top: 15px;
	left: -3px;
	background: $very_very_light_blue;
	z-index: 1000;
	opacity: .8;
	padding-bottom: 3px;
	
	li {
		display: block;
	}
}

li#admingiftinglink {
	cursor: pointer;
	position: relative;
	
	&:hover {
		ul#gifting_subnav {
			display: block;
			
      li {
        padding: 2px 5px;
      }
			        
		}
	}
}

#cj_required {
  border: 1px solid #000099;
  background: #99ccff;
  padding: 5px;
  margin-bottom: 15px;
  p.cj_notice {
    font-size: 10px;
  }
  
}
div.field_with_errors {
  display: inline;
}
.wysiwyg_display {
  p {
    b {
      font-weight: bold;
    }
  }
}
#merchant {
  p {
    font: 1.2em "Andale Mono", "Lucida Sans Unicode", "Lucida Grande", monospace;
  }
  b {
    font-weight: bold;
  }
}
#group_admin {
  li {
    list-style: none;
    display: block;
    text-align: center;
    border: 1px solid #000;
    width: 150px;
    height: 200px;
    float: left;
    margin: 10px;
    border: 5px solid #7DCBFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
  }
  li a {
    text-decoration: none;
  }
}
#gifting_form {
  font: 1.2em "Andale Mono", "Lucida Sans Unicode", "Lucida Grande", monospace;
  td label {
    font-weight: bold;
    padding-right: 10px;
  }
  .field label {
    font-weight: bold;
    padding-right: 10px;
  }
}
