/*
 *= require reset
 CSS Main Site styles
*/


body {
	font-size: 65%;
	background: url(body_bg.jpg) repeat-x left top;
	line-height: 1;
}

p {
	margin-bottom: 10px;
}

#mainarea {
	width: 1024px;
	margin: 0 auto;
}

#header {
	width: 1024px;
	height: 200px;
	position: relative;
}

/* general purpose */

.clearing {
	clear: both;
	height: 0;
}

	/* error and alert messages */

.notice, .alert {
	display: none;
}



/* unregistered homepage only */

#header-logo {
	position: relative;
	top: 50px;
}

#header-motto-splash {
	position: absolute;
	right: -45px;
}

#sign-in-button {
	position: absolute;
	top: 0;
	right: -10px;
}

#main_top {
	width: 1014px;
	height: 27px;
	margin: 0 auto;
	background: url(main_top_bg.png) no-repeat left top;
}

#main {
	width: 1014px;
	margin: 0 auto;
	background: url(main_bg.png) repeat-y left top;
}

#main_bot {
	width: 1014px;
	height: 27px;
	margin: 0 auto;
	background: url(main_bot_bg.png) no-repeat left bottom;
}

#col_left, #col_right {
	float: left;
}

#col_left {
	width: 320px;
	position: relative;
	background: url(col_left_bg.png) no-repeat -4px 22px;
	padding-top: 160px;
	padding-left: 20px;
	text-align: center;
}

img#new-to-ok-arrow {
	position: absolute;
	top: -45px;
	left: 56px;
}

#col_left h2, #recent_kudos_cont_top h2 {
	color: #1f6994;
	font: bold 1.7em "Nobile", Arial, sans-serif;
	margin-bottom: 2px;
}

#col_right {
	width: 640px;
	padding-top: 8px;

}

#recent_kudos_cont {
	width: 604px;
	background: url(recent_kudos_cont_bg.png) repeat-y left top;
	padding: 20px;
}

#recent_kudos_cont_top {
	width: 627px;
	height: 33px;
	background: url(recent_kudos_cont_top_bg.png) no-repeat left top;
	padding-top: 10px;
	padding-left: 17px;
}

#recent_kudos_cont_bot {
	width: 644px;
	height: 14px;
	background: url(recent_kudos_cont_bot_bg.png) no-repeat left top;
	margin-bottom: 20px;
}

div.kudo_message_cont {
	clear: both;
	height: 80px;
	
}

div.kudo_message {
	width: 506px;
	height: 65px;
	padding-left: 20px;
	padding-top: 8px;
	background: url(kudo_message_bg.png) no-repeat left top;
	float: left;
	margin-left: 7px;
}


div.kudo_message p {
	margin-left: 10px;
	margin-bottom: 5px;
	font: normal 1.2em Verdana, "Copse", Arial, sans-serif;
	color: #000;

}

img.avatar {
	border: 3px solid #fff;
	-webkit-box-shadow: 0 0 5px 2px #ccc;
	-moz-box-shadow: 0 0 5px 2px #ccc;
	box-shadow: 0 0 5px 2px #ccc;
	float: left;
	
}

span.sender, span.receiver {
	font: bold 1.1em Verdana, "Copse", Arial, sans-serif;
}

span.sender {
	color: #c60;
}

span.receiver {
	color: #690;
}

span.greater_than {
	color: #ccc;
}