/* CSS Master Stylesheet: Included on every site page, all sections */

@import "variables_and_mixins";

/* Begin CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset */

body {
	font-size: 65%;
	font-family: arial;
	background: url(body_bg.jpg) repeat-x left top;
	line-height: 1;
}

.clearing {
	clear: both;
}

.no_bot_marg {
	margin-bottom: 0 !important;
}

.action_link {
	font: 1.2em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: $warning_red;
}

img.avatar {
	border: 3px solid #fff;
	width: 52px;
	height: 52px;
	overflow: hidden;
	-webkit-box-shadow: 0 0 5px 2px #ccc;
	-moz-box-shadow: 0 0 5px 2px #ccc;
	box-shadow: 0 0 5px 2px #ccc;
}

p {
	margin-bottom: 10px;
}

h1 {
	font: normal 4em "NunitoRegular", "Copse", Arial, Helvetica, sans-serif;
	color: $headers_blue;
	margin-bottom: 10px;
}

h2 {
	color: $headers_blue;
	font: normal 1.7em "NunitoRegular", "Copse", Arial, sans-serif;
	margin-bottom: 10px;
}

/* error and alert messages - html-only presentation */

.notice, .alert, #error_explanation {
	padding: 10px 15px;
	margin: 0 0 10px 0;
	background-color: #fff;
	font: bold 1.3em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	@include rounded-edges(10px);
	
}

.notice {
	color: green;
	border: 4px solid green;
}

.alert, #error_explanation {
	color: red;
	border: 4px solid $warning_red;
}

/* error messages - interstitial presentation */

#overlay {
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000; /* ensure it covers everything below */
	display: none;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
	
}

#overlay_overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1001; /* ensure it covers #overlay */
	opacity: 1;
	display: none;
	
}

#interstitial_message_cont {
	width: 42em;
	padding: 10px 10px 20px 10px;
	border: 1px solid #fff;
	margin: 10em auto;
	border-radius: 10px;
	background-color: #fff;
	border: 3px solid red;

	
  .interstitial_message {
		color: #000;
		
		iframe {
			width: 425px;
			display: block;
			margin: 0 auto;
		}
  }
  
  p#interstitial_message_close_control {
  	color: #000;
  	font: 1.2em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  	cursor: pointer;
  	text-align: right;
  }
  
}





#error_explanation h2 {
	color: $warning_red;
	font: bold 1.5em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* footer */
	
#footer {
	width: 1014px;
	margin: 0 auto;
	height: 94px;
	background: url(footer_bg.png) no-repeat left top;
	clear: both;
	position: relative;
}

ul#nav_footer {
	list-style: none;
	margin-left: 140px;
	padding-top: 28px;
}

ul#nav_footer img {
	vertical-align: middle;
}

ul#nav_footer li {
	display: inline;
	padding: 0 10px;
	font: normal 1.3em Verdana, Arial, sans-serif;
	color: #508bac;

}

ul#nav_footer li#footer_separator {
	padding: 0 10px;
}

ul#nav_footer li a {
	color: #508bac;
	text-decoration: none;
}

p#footer_copyright {
	font: 1.0em Verdana, Arial, Helvetica, sans-serif;
	color: #508bac;
	position: absolute;
	top: 41px;
	right: 63px;
}

/* Kudos messaging presentation */
/* Some rules here that apply to both unregistered homepage, registered homepage and You've got Kudos! page */
/* Further rules customizing same DOM elements in registered.css, unregistered.css. Primarily this is due to
	differences in width of the containing bubble graphic. */

div.kudo_message_cont {
	clear: both;
	margin-bottom: 8px;
}

div.kudo_message_bubble_cont {
	float: left;
	margin-left: 15px;
}

div.kudo_message_top {
	height: 11px;
}

div.kudo_message_bot {
	height: 13px;
}

div.kudo_message_mid {
	padding-left: 18px;
}

div.kudo_message_mid p {
	font: normal 1.2em Verdana, "Copse", Arial, sans-serif;
	color: #000;
	margin-bottom: 0;
	padding: 0 15px 8px 15px;
}

span.sender, span.receiver {
	font: bold 1.1em Verdana, "Copse", Arial, sans-serif;
}

span.sender {
	color: #c60;
}

span.receiver {
	color: #690;
}

span.greater_than {
	color: $very_light_gray;
}


/* tables */

table.type1 {
	width: 100%;
	background-color: #fff;
	margin-bottom: 10px;
	
	th {
		padding: 8px 0;
		font: 1.1em "Lucida Sans Unicode", "Lucida Grande", verdana, helvetica, sans-serif;
		background-color: $very_light_gray;
		
		a {
			color: $very_dark_gray;
		}
		
	}
	
	td {
		font: 1.2em "Andale Mono", "Lucida Sans Unicode", "Lucida Grande", monospace;
		padding: 8px 0 8px 10px;
		border-bottom: 1px dotted $very_light_gray;
	}	
	
}



/* Compensation for mobile devices, this is not a full mobile-only implementation, just adjustments */

/* for devices at 1024px: laptops, iPad in horizontal mode */
@media (max-device-width: 1024px) and (orientation: landscape) {
	body {
		width: 1100px; /* prevents cropping of edges */
	}
}


/* for devices at 768px: iPad in vertical mode */
@media (max-device-width: 768px) and (orientation: portrait) {
	body {
		width: 1100px; /* prevents cropping of edges */
	}
}

/* for smart phones */
@media (max-width: 600px) {
	body {
		width: 1100px; /* prevents cropping of edges */
	}
}


