/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import "variables_and_mixins";

.cms-wysiwyg-pages {
	h3 {
		font: 1.5em "NunitoBold", Arial, Helvetica, sans-serif;
		color: $very_dark_gray;
	}
	
	
	p {
		font-size: 1.3em;
		color: $medium_gray;
		line-height: 1.2em;
	}
}