/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import "variables_and_mixins";

.cms-wysiwyg-pages {
	h3 {
		font: 1.5em "NunitoRegular", Arial, Helvetica, sans-serif;
		color: $medium_green;
	}
	
	
	p {
		font-size: 1.3em;
		color: $very_dark_gray;
		line-height: 1.5em;
		margin-bottom: 1.7em;
	}
	
	.ul1 {
		list-style: disc;
		margin-left: 20px;
		font-size: 1.4em;
	}
}