/*
 *= require master
 CSS Main Site styles: Registered/Authenticated User Areas
 *= require token_input
 *= require token_input_mac
*/


#mainarea {
	width: 1024px;
	margin: 0 auto;
}

#header {
	width: 1024px;
	height: 125px;
	position: relative;
}

#header-logo {
	position: relative;
	top: 15px;
}

#header_user_info {
	position: absolute;
	right: 20px;
	bottom: -8px;
	padding: 20px 30px;
	width: 263px;
	height: 58px;
	background: url(header_user_info_bg.png) no-repeat left top;
	color: #effaff;
}

#header_user_info_nav {
	position: absolute;
	bottom: 0;
}

#header_user_info_nav a {
	color: #effaff;
	text-decoration: none;
	font: 1.1em Verdana, Helvetica, Arial, sans-serif;
}

#header_user_info_nav a:hover {
	border-bottom: 1px dotted #effaff;
}

#header_user_info h1 {
	font: normal 1.6em "Copse", Arial, Helvetica, sans-serif;
}

img#user_avatar {
	position: absolute;
	right: 30px;
	top: 25px;
}

#main_top {
	width: 1014px;
	height: 27px;
	margin: 0 auto;
	background: url(main_top_bg.png) no-repeat left top;
}

#main {
	width: 1014px;
	margin: 0 auto;
	background: url(main_bg.png) repeat-y left top;
}

.wrapper-main {
	padding: 0 30px;
}


/* Send Kudos Area */

#kudo_send_cont {
	width: 944px;
	margin: 0 auto 8px auto;
	position: relative;
}

img#baltar_mailman_icon {
	position: absolute;
	top: -35px;
	left: 20px;
}

#kudo_send_cont_top {
	width: 944px;
	height: 29px;
	background: url(kudo_send_cont_top_bg.png) left top no-repeat;
}

#kudo_send_cont_mid {
	width: 904px;
	padding: 0 20px;
	background: url(kudo_send_cont_mid_bg.png) left top repeat-y;
}

#kudo_send_cont_bot {
	width: 944px;
	height: 33px;
	background: url(kudo_send_cont_bot_bg.png) left bottom no-repeat;
}

#kudo_send_cont h1 {
	font: normal 3em "Copse", Arial, Helvetica, sans-serif;
	color: #1f6994;
	padding-bottom: 30px;
	line-height: 0;
}

#kudo_send_header {
	margin-left: 90px;
	background: url(8pxroundeddot.png) left bottom repeat-x;
}


#kudo_send_form textarea {
	border: none;
	outline: none;
}


#kudo_message_cont_top {
	width: 393px;
	height: 10px;
	background: url(kudo_message_cont_top_bg.png) no-repeat left top;
}

#kudo_message_cont_mid {
	width: 373px;
	padding: 0 10px;
	background: url(kudo_message_cont_mid_bg.png) repeat-y left top;
}

#kudo_message_cont_bot {
	width: 393px;
	height: 12px;
	background: url(kudo_message_cont_bot_bg.png) no-repeat left bottom;
}

#kudo_send_col_left, #kudo_send_col_right {
	float: left;
	padding-top: 15px;
}

#kudo_send_col_left {
	width: 420px;
	padding-left: 20px;
}

#kudo_send_submit_region {
	width: 835px;
	height: 40px;
	padding: 5px 5px 0 20px;
	background: url(kudo_send_submit_region_bg.png) no-repeat left bottom;
	clear: both;
	margin: 0 auto;
	padding-top: 30px;
}

#kudo_send_submit_region img {
	vertical-align: middle;
}

#kudo_send_submit_region button {
	display: inline;
	float: right;
	background: none;
	border: none;
	cursor: pointer;
}

span#social_share_choices {
	position: relative;
	top: 10px;
}

span#social_share_choices label {
	padding-right: 20px;
	margin-left: -8px;
}

/* Kudo Dashboard Styles */

#kudo_dashboard_cont{
	width: 944px;
	margin: 0 auto 20px auto;
}

#kudo_dashboard_top {
	width: 944px;
	height: 78px;
	background: url(kudo_dashboard_top_sprite.png) no-repeat left top;
}

#kudo_dashboard_mid {
	width: 864px;
	background: url(kudo_dashboard_mid_bg.png) repeat-y left top;
	padding: 0 40px 20px 40px;
}

#kudo_dashboard_bot {
	width: 944px;
	height: 35px;
	background: url(kudo_dashboard_bot_bg.png) no-repeat left top;
}

ul#nav_kudo_dashboard {
	list-style: none;
	margin-left: 2px;
	padding-top: 1.4em;
}

ul#nav_kudo_dashboard li {
	float: left;
	width: 184px;
	height: 15px;
	text-align: center;
}

ul#nav_kudo_dashboard li h2 a {
	text-decoration: none;
	font-size: 1.3em;
	color: #fff;
}

ul#nav_kudo_dashboard li h2 a.active {
	color: #1f6994;
}


#kudo_dashboard_search_cont {
	background: url(8pxroundeddot.png) left bottom repeat-x;
}

/* kudos messaging related */

div.kudo_message_bubble_cont {
	width: 770px;
}

div.kudo_message_mid {
	width: 770px;
	background: url(kudo_dash_message_mid.png) no-repeat left top;
}

div.kudo_message_top {
	width: 770px;
	background: url(kudo_dash_message_top.png) no-repeat left bottom;
}

div.kudo_message_bot {
	width: 770px;
	background: url(kudo_dash_message_bot.png) no-repeat left top;
}

div.kudo_message_cont img.avatar {
	float: left;
	margin-top: 8px;
}

div.kudo_message_mid p {
	width: 668px;
	margin-right: 5px;
}

.kudo_message_text_cont {
	float: left;
}

.kudo_flag_cont {
	float: left;
	cursor: pointer;
	width: 33px;
	height: 28px;
	background: url(kudo_flag_icon_sprite.png) left -28px no-repeat;
	margin-top: 8px;
}

/* end kudos messaging */




/* forms */


label {
	font: bold 1.1em Arial, Helvetica, sans-serif;
	padding-left: 3px;
}

input[type=text], input[type=password] {
	font: 1.4em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #e1f0be;
	border: 2px solid #fff;
	padding: 4px 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* end forms */

/* User account settings */

img.sn_tile_status {
	
	vertical-align: middle;
}

span.sn_status, span.sn_status_dim {
	font: normal 1.7em "Copse", Arial, sans-serif;
}

span.sn_status {
	color: #1f6994;
}

span.sn_status_dim {
	color: #555;
}

h3 {
	font: 1.2em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #555;
	border-top: 1px solid #555;
}