/*
 *= require master
 CSS Main Site styles: Registered/Authenticated User Areas
 *= require token_input
 *= require token_input_mac
 *= require jquery-ui-1.8.13.custom
 *= require jquery-ui-custom-overrides
 *= require gifting
*/

@import "variables_and_mixins";


#mainarea {
	width: $site_width_main;
	margin: 0 auto;
}

#header {
	width: $site_width_main;
	height: 125px;
	position: relative;
}

#header-logo {
	position: relative;
	top: 15px;
}

#header_user_info {
	position: absolute;
	right: 20px;
	bottom: -8px;
	padding: 20px 30px;
	width: 263px;
	height: 58px;
	background: url(header_user_info_bg.png) no-repeat left top;
	color: #effaff;
}

#header_user_info_nav {
	position: absolute;
	bottom: 0;
}

#header_user_info_nav a {
	color: #effaff;
	text-decoration: none;
	font: 1.1em Verdana, Helvetica, Arial, sans-serif;
}

#header_user_info_nav a:hover {
	border-bottom: 1px dotted #effaff;
}

#header_user_info h4 {
	font: normal 1.6em "Copse", Arial, Helvetica, sans-serif;
	color: #effaff;
}

img#user_avatar {
	position: absolute;
	right: 30px;
	top: 25px;
}

#main_top {
	width: 1014px;
	height: 27px;
	margin: 0 auto;
	background: url(main_top_bg.png) no-repeat left top;
}

#main {
	width: 1014px;
	margin: 0 auto;
	background: url(main_bg.png) repeat-y left top;
}

.wrapper-main {
	padding: 0 30px;
}


/* Send Kudos Area */

#kudo_send_cont {
	width: 944px;
	margin: 0 auto 8px auto;
	position: relative;
	
	h1 {
		font: normal 3em "Copse", Arial, Helvetica, sans-serif;
		color: $headers_blue;
		padding-bottom: 30px;
		line-height: 0;
		*padding-top: 20px;
		*margin-top: -8px;
	}
}

img#baltar_mailman_icon {
	position: absolute;
	top: -35px;
	left: 20px;
}

#kudo_send_cont_top {
	width: 944px;
	height: 29px;
	background: url(container944_top.png) left top no-repeat;
}

#kudo_send_cont_mid {
	width: 904px;
	padding: 0 20px;
	background: url(container944_mid.png) left top repeat-y;
}

#kudo_send_cont_bot {
	width: 944px;
	height: 33px;
	background: url(container944_bot.png) left bottom no-repeat;
}

#kudo_send_header {
	margin-left: 90px;
	background: url(8pxroundeddot.png) left bottom repeat-x;
}

#kudo_send_form textarea {
	border: none;
	outline: none;
}


#kudo_message_cont_top {
	width: 393px;
	height: 10px;
	background: url(kudo_message_cont_top_bg.png) no-repeat left top;
}

#kudo_message_cont_mid {
	width: 373px;
	padding: 0 10px;
	background: url(kudo_message_cont_mid_bg.png) repeat-y left top;
}

#kudo_message_cont_bot {
	width: 393px;
	height: 12px;
	background: url(kudo_message_cont_bot_bg.png) no-repeat left bottom;

}

#kudo_send_col_left, #kudo_send_col_right {
	float: left;
	padding-top: 15px;
}

#kudo_send_col_left {
	width: 420px;
	padding-left: 20px;
}

#kudo_send_submit_region {
	width: 835px;
	height: 40px;
	padding: 5px 5px 0 20px;
	background: url(kudo_send_submit_region_bg.png) no-repeat left bottom;
	clear: both;
	margin: 0 auto;
	padding-top: 30px;
	
	img {
		vertical-align: middle;
	}
	
	button {
		display: inline;
		float: right;
		background: none;
		border: none;
		cursor: pointer;
	
		/* IE7 Fix for overlap and double padding bugs*/
		z-index: 100;
		position: relative;
		overflow: visible;
	}

}


span#social_share_choices {
	float: left;
	padding-top: 8px;
	padding-left: 10px;
	
	label {
		padding-right: 20px;
		margin-left: -8px;
	}

}


/* Kudo Dashboard Styles */

#kudo_dashboard_cont{
	width: 944px;
	margin: 0 auto 20px auto;
}

#kudo_dashboard_top {
	width: 944px;
	height: 78px;
}

.kdt_sent {
	background: url(kudo_dashboard_top_sprite.png) no-repeat left -78px;
}

.kdt_received {
	background: url(kudo_dashboard_top_sprite.png) no-repeat left -156px;
}

.kdt_newsfeed {
	background: url(kudo_dashboard_top_sprite.png)  no-repeat left top;
}

.kdt_local {
	background: url(kudo_dashboard_top_sprite.png) no-repeat left -234px;
}

#kudo_dashboard_mid {
	width: 864px;
	background: url(kudo_dashboard_mid_bg.png) repeat-y left top;
	padding: 0 40px 20px 40px;
}

#kudo_dashboard_bot {
	width: 944px;
	height: 35px;
	background: url(kudo_dashboard_bot_bg.png) no-repeat left top;
}

ul#nav_kudo_dashboard {
	list-style: none;
	margin-left: 2px;
	padding-top: 1.4em;
	
	li {
		float: left;
		width: 184px;
		height: 15px;
		text-align: center;
		
		h2 a {
			text-decoration: none;
			font-size: 1.3em;
			color: #fff;
			
			&.active {
				color: $headers_blue;
			}

		}
	}
	
	
}


#kudo_dashboard_search_cont {
	background: url(8pxroundeddot.png) left bottom repeat-x;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

/* kudos messaging related */

select.full-width-select {
  width: 300px;
}


div.kudo_message_cont {
	border-bottom: 4px dotted #fff;
	padding-bottom: 10px;
	margin-bottom: 10px;
	
	img.avatar {
		float: left;
		margin-top: 8px;
	}

}


div.kudo_message_bubble_cont {
	width: 770px;
}

div.kudo_message_mid {
	width: 770px;
	background: url(kudo_message_mid_sprite.png) no-repeat left top;
	
	p {
		width: 668px;
		margin-right: 5px;
	}

}

div.kudo_message_top {
	width: 770px;
	background: url(kudo_message_top_sprite.png) no-repeat left top;
}

div.kudo_message_bot {
	width: 770px;
	background: url(kudo_message_bot_sprite.png) no-repeat left top;
}


.kudo_message_text_cont {
	float: left;
}

a.delete_kudo_btn {
	width: 15px;
	height: 14px;
	display: block;
	float: right;
	background: url(deletex_btn.png) no-repeat left top;
	text-decoration: none;
	clear: left;
	margin-right: 45px;
	
	&:hover {
		background-position: left -14px;
	}
}

.kudo_flag_cont {
	float: left;
	cursor: pointer;
	width: 33px;
	height: 28px;
	margin-top: 8px;
	
	&:hover {
		background: url(kudo_flag_icon_sprite.png) left top no-repeat;
	}
}

.kf_dimmed {
	background: url(kudo_flag_icon_sprite.png) left -28px no-repeat;
}

.kf_activated {
	background: url(kudo_flag_icon_sprite.png) left top no-repeat;
}

.social_buttons {
  float: right;
  .google_plus{
    float: right;
  }
  .facebook_like{
    float: right;
  }
}
/* end kudos messaging */




/* forms */


label {
	font: bold 1.1em Arial, Helvetica, sans-serif;
	padding-left: 3px;
}

input[type=text], input[type=password] {
	font: 1.4em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #e1f0be;
	border: 2px solid #fff;
	padding: 4px 7px;
	@include rounded-edges(5px);
}

p#kudos_sortby_cont {
	float: left;

}

p#kudos_search_cont {
	float: right;
	margin-right: 15px;
}

#kudo_message_textarea {
	width: 370px;
	height: 130px;
}

/* end forms */

/* User account settings */

body.users_show, body.friendships_show, body.facebook_friends_index {
	label {
		color: $dark_green;
		font-weight: normal;
		font-size: 1.3em;
		display: block;
		width: 10em;
		float: left;
		text-align: right;
		margin-right: 7px;

	}
	
	h3 {
		font: 1.2em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		color: #fff;
		background-color: $very_dark_gray;
		padding: 7px 15px;
		margin-bottom: 15px;
	}
	
	span.datavalue {
		font-size: 1.3em;
		font-weight: bold;
		color: $very_dark_gray;
		line-height: 1.3em;
		
	}
	
	h4 {
		font: normal 1.3em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		color: $headers_blue;
		margin-bottom: 3px;
	}
  
  ul {
  	margin-bottom: 10px;
  }
  
	.note {
		font: italic 1.1em Arial, Helvetica, sans-serif;
		color: $medium_gray;
		border-top: 1px dotted $medium_gray;
		border-bottom: 1px dotted $medium_gray;
		padding: 5px;
	}
}

img.sn_tile_status {
	
	vertical-align: middle;
}

span.sn_status, span.sn_status_dim {
	font: normal 1.7em "Copse", Arial, sans-serif;
}

span.sn_status {
	color: $headers_blue;
}

span.sn_status_dim {
	color: $light_gray;
}



.userprofile_col_left, .userprofile_col_right {
	float: left;
}

.userprofile_col_left {
	width: 650px;
	margin-right: 20px;
	
	.alignleft, .alignright {
		float: left;
		width: 30em;
	}
}

.userprofile_col_right {
	width: 280px;
}


/* Profile pics re-ordering function */

ul.profile_pics {
	li {
		padding: 10px;
		cursor: move;
		border: 2px dotted #aaa;
		border-radius: 5px;
		width: 10em;
		margin-bottom: 5px;
		font: 1.4em "Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", sans-serif;
		color: #333;
		height: 60px;
		background-color: #fff;
		
		&:hover {
			background-color: $yellow;
		}
		
		img.avatar {
			float: left;
			margin-right: 10px;
			
		}
	}
}

