/*
 *= require master
 CSS Main Site styles: Unregistered/Unauthenticated User Areas
 *= require token_input
 *= require token_input_mac
 *= require jquery-ui-1.8.13.custom
 *= require jquery-ui-custom-overrides
 *= require gifting
*/

@import "variables_and_mixins";


#mainarea {
	width: $site_width_main;
	margin: 0 auto;
}

#header {
	width: $site_width_main;
	height: 160px;
	position: relative;
}

#header-logo {
	position: relative;
	top: 25px;
}

#header-motto-splash {
	position: absolute;
	right: -45px;
}

#sign-in-button {
	position: absolute;
	top: 0;
	right: -10px;
}

#main_top {
	width: 1014px;
	height: 27px;
	margin: 0 auto;
	background: url(main_top_bg.png) no-repeat left top;
}

#main {
	width: 1014px;
	margin: 0 auto;
	background: url(main_bg.png) repeat-y left top;
}

.wrapper-main {
	padding: 0 30px;
}


#col_left, #col_right {
	float: left;
}

#col_left {
	width: 320px;
	position: relative;
	background: url(col_left_bg.png) no-repeat -4px 22px;
	padding-top: 160px;
	padding-left: 20px;
	text-align: center;
}

img#new-to-ok-arrow {
	position: absolute;
	top: -45px;
	left: 56px;
}

#col_right {
	width: 640px;
	padding-top: 8px;

}

#recent_kudos_cont {
	width: 604px;
	background: url(recent_kudos_cont_bg.png) repeat-y left top;
	padding: 20px;
}

#recent_kudos_cont_top {
	width: 627px;
	height: 33px;
	background: url(recent_kudos_cont_top_bg.png) no-repeat left top;
	padding-top: 10px;
	padding-left: 17px;
}

#recent_kudos_cont_bot {
	width: 644px;
	height: 14px;
	background: url(recent_kudos_cont_bot_bg.png) no-repeat left top;
	margin-bottom: 20px;
}

/* forms */

label {
	font: bold 1.1em Arial, Helvetica, sans-serif;
	padding-left: 3px;
}

input[type=text], input[type=password] {
	font: 1.4em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #e1f0be;
	border: 2px solid #fff;
	padding: 4px 7px;
	@include rounded-edges(5px);
}

	/* password strength indicator on sign-up form */

#signup_user_password {
	float: left;
	margin-right: 10px;
}

#password-strength {
	width: 200px;
	float: left;
	margin-top: 5px;
}

.password-strength-bar {
	padding: 5px 8px;
	@include rounded-edges(5px);
}

/* end forms */


/* kudos messaging related */

div.kudo_message_bubble_cont {
	width: 525px;
}

div.kudo_message_mid {
	background: url(kudo_message_mid_sprite.png) no-repeat left -184px;
}

div.kudo_message_top {
	width: 526px;
	background: url(kudo_message_top_sprite.png) no-repeat left -11px;
}

div.kudo_message_bot {
	width: 526px;
	background: url(kudo_message_bot_sprite.png) no-repeat left -13px;
}

img.avatar {
	float: left;
	margin-top: 8px;
}

/* end kudos messaging */

/* Invite styles */

#youve_got_kudos_cont {
	width: 944px;
	margin: 0 auto;
	padding-bottom: 40px;
	background: url(8pxroundeddot.png) left bottom repeat-x;
	margin-bottom: 30px;
	
	.kudo_message_cont {
	  margin: 0 auto 10px auto;
	  width: 650px;
  }
  .social_buttons {
    float: right;
    .google_plus{
      float: right;
    }
    .facebook_like{
      float: right;
    }
  }
  
  h1 {
		text-align: center;
		margin-top: -10px;
	}
	
	h3 {
		font: normal 1.9em "Nunito", "Copse", Arial, Helvetica, sans-serif;
		text-align: center;
		
		img {
			vertical-align: middle;
		}

	}


}


#youve_got_kudos_top {
	width: 944px;
	height: 29px;
	background: url(container944_top.png) left top no-repeat;
}

#youve_got_kudos_mid {
	width: 904px;
	padding: 0 20px;
	background: url(container944_mid.png) left top repeat-y;
}

#youve_got_kudos_bot {
	width: 944px;
	height: 33px;
	background: url(container944_bot.png) left bottom no-repeat;
}

#kudo_sender_cont {
	text-align: center;
	float: left;
	width: 10em;
	overflow: hidden;

	p {
	  font: bold 1.2em Verdana, Arial, Helvetica, sans-serif;
	  color: #000;
	  text-align: center;
	}
	
	img {
		float: none;
	}

}



span.blue_accent {
	color: #5591b4;
}

#invite_col_left, #invite_col_right {
	float: left;
	width: 452px;
	
	h2 {
		font: normal 2.4em "Nunito", "Copse", Arial, Helvetica, sans-serif;
		color: $headers_blue;
		text-align: left;
	}
}

#invite_col_left { 
	padding: 0 0 0 35px;
	margin-right: 40px;
	
	div.kudo_message_bubble_cont {
		width: 370px;
	}
	
	div.kudo_message_mid {
		background: url(kudo_message_mid_sprite.png) no-repeat left -368px;
	}

	div.kudo_message_top {
		width: 526px;
		background: url(kudo_message_top_sprite.png) no-repeat left -22px;
	}
	
	div.kudo_message_bot {
		width: 526px;
		background: url(kudo_message_bot_sprite.png) no-repeat left -26px;
	}


}

#invite_col_right {
	position: relative;
	padding: 0 35px 0 0;
}

#kudos_icon_hugging {
	position: absolute;
	right: 0;
top: 30px; 
}

ul.invite_list {
	list-style: disc;
	margin: 0 0 10px 20px;
	font: 1.3em Verdana, Arial, Helvetica, sans-serif;
	color: $very_dark_gray;
	
	li {
		margin-bottom: 8px;
	}

}

img#video_tour_image_btn {
	cursor: pointer;
}

.social_buttons {
  width: 110px;
  margin-left: 10px;
  margin-top: 0px;
  height: 20px;
  float: left;
  a {
    text-decoration: none;
    float: left;
  }
}
.plusone_button {
  width: 50%;
  float: left;
}
.facebook_like {
  width: 50%;
  float: right;
}
.fb_like {
  width: 57px;
  float: right;
}
.fb_like iframe {
  width:51px!important;
  overflow: hidden;
  height: 27px!important;
}
.hidden_heading {
  display: none;
}
.spacer {
  height: 30px;
}
