/*
 *= require master
 CSS Main Site styles: Unregistered/Unauthenticated User Areas
 *= require token_input
 *= require token_input_mac
*/

#mainarea {
	width: 1024px;
	margin: 0 auto;
}

#header {
	width: 1024px;
	height: 200px;
	position: relative;
}

#header-logo {
	position: relative;
	top: 50px;
}

#header-motto-splash {
	position: absolute;
	right: -45px;
}

#sign-in-button {
	position: absolute;
	top: 0;
	right: -10px;
}

#main_top {
	width: 1014px;
	height: 27px;
	margin: 0 auto;
	background: url(main_top_bg.png) no-repeat left top;
}

#main {
	width: 1014px;
	margin: 0 auto;
	background: url(main_bg.png) repeat-y left top;
}

.wrapper-main {
	padding: 0 30px;
}


#col_left, #col_right {
	float: left;
}

#col_left {
	width: 320px;
	position: relative;
	background: url(col_left_bg.png) no-repeat -4px 22px;
	padding-top: 160px;
	padding-left: 20px;
	text-align: center;
}

img#new-to-ok-arrow {
	position: absolute;
	top: -45px;
	left: 56px;
}

#col_right {
	width: 640px;
	padding-top: 8px;

}

#recent_kudos_cont {
	width: 604px;
	background: url(recent_kudos_cont_bg.png) repeat-y left top;
	padding: 20px;
}

#recent_kudos_cont_top {
	width: 627px;
	height: 33px;
	background: url(recent_kudos_cont_top_bg.png) no-repeat left top;
	padding-top: 10px;
	padding-left: 17px;
}

#recent_kudos_cont_bot {
	width: 644px;
	height: 14px;
	background: url(recent_kudos_cont_bot_bg.png) no-repeat left top;
	margin-bottom: 20px;
}

/* forms */

label {
	font: bold 1.1em Arial, Helvetica, sans-serif;
	padding-left: 3px;
}

input[type=text], input[type=password] {
	font: 1.4em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #e1f0be;
	border: 2px solid #fff;
	padding: 4px 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-border-radius: 5px;
}

/* end forms */


/* kudos messaging related */

div.kudo_message_cont {
	clear: both;
	margin-bottom: 8px;
}

div.kudo_message_bubble_cont {
	float: left;
	width: 525px;
	margin-left: 15px;
}

div.kudo_message_mid {
	padding-left: 18px;
	background: url(kudo_message_mid.png) no-repeat left top;
}

div.kudo_message_top {
	width: 526px;
	height: 11px;
	background: url(kudo_message_top.png) no-repeat left bottom;
}

div.kudo_message_bot {
	width: 526px;
	height: 13px;
	background: url(kudo_message_bot.png) no-repeat left top;
}


div.kudo_message_mid p {
	font: normal 1.2em Verdana, "Copse", Arial, sans-serif;
	color: #000;
	margin-bottom: 0;
	padding: 0 15px 8px 15px;
}

img.avatar {
	border: 3px solid #fff;
	-webkit-box-shadow: 0 0 5px 2px #ccc;
	-moz-box-shadow: 0 0 5px 2px #ccc;
	box-shadow: 0 0 5px 2px #ccc;
	float: left;
	margin-top: 8px;
	
}

span.sender, span.receiver {
	font: bold 1.1em Verdana, "Copse", Arial, sans-serif;
}

span.sender {
	color: #c60;
}

span.receiver {
	color: #690;
}

span.greater_than {
	color: #ccc;
}

/* end kudos messaging */