/*
 *= require master
 CSS Main Site styles: Unregistered/Unauthenticated User Areas
 *= require token_input
 *= require token_input_mac
*/

#mainarea {
	width: 1024px;
	margin: 0 auto;
}

#header {
	width: 1024px;
	height: 200px;
	position: relative;
}

#header-logo {
	position: relative;
	top: 50px;
}

#header-motto-splash {
	position: absolute;
	right: -45px;
}

#sign-in-button {
	position: absolute;
	top: 0;
	right: -10px;
}

#main_top {
	width: 1014px;
	height: 27px;
	margin: 0 auto;
	background: url(main_top_bg.png) no-repeat left top;
}

#main {
	width: 1014px;
	margin: 0 auto;
	background: url(main_bg.png) repeat-y left top;
}

.wrapper-main {
	padding: 0 30px;
}


#col_left, #col_right {
	float: left;
}

#col_left {
	width: 320px;
	position: relative;
	background: url(col_left_bg.png) no-repeat -4px 22px;
	padding-top: 160px;
	padding-left: 20px;
	text-align: center;
}

img#new-to-ok-arrow {
	position: absolute;
	top: -45px;
	left: 56px;
}

#col_right {
	width: 640px;
	padding-top: 8px;

}

#recent_kudos_cont {
	width: 604px;
	background: url(recent_kudos_cont_bg.png) repeat-y left top;
	padding: 20px;
}

#recent_kudos_cont_top {
	width: 627px;
	height: 33px;
	background: url(recent_kudos_cont_top_bg.png) no-repeat left top;
	padding-top: 10px;
	padding-left: 17px;
}

#recent_kudos_cont_bot {
	width: 644px;
	height: 14px;
	background: url(recent_kudos_cont_bot_bg.png) no-repeat left top;
	margin-bottom: 20px;
}

/* forms */

label {
	font: bold 1.1em Arial, Helvetica, sans-serif;
	padding-left: 3px;
}

input[type=text], input[type=password] {
	font: 1.4em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #e1f0be;
	border: 2px solid #fff;
	padding: 4px 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-border-radius: 5px;
}

/* end forms */


/* kudos messaging related */

div.kudo_message_bubble_cont {
	width: 525px;
}

div.kudo_message_mid {
	background: url(kudo_message_mid_sprite.png) no-repeat left -184px;
}

div.kudo_message_top {
	width: 526px;
	background: url(kudo_message_top_sprite.png) no-repeat left -11px;
}

div.kudo_message_bot {
	width: 526px;
	background: url(kudo_message_bot_sprite.png) no-repeat left -13px;
}

img.avatar {
	float: left;
	margin-top: 8px;
}

/* end kudos messaging */

/* Invite styles */

#youve_got_kudos_cont {
	width: 944px;
	margin: 0 auto;
	padding-bottom: 40px;
	background: url(8pxroundeddot.png) left bottom repeat-x;
	margin-bottom: 30px;
}

#youve_got_kudos_top {
	width: 944px;
	height: 29px;
	background: url(container944_top.png) left top no-repeat;
}

#youve_got_kudos_mid {
	width: 904px;
	padding: 0 20px;
	background: url(container944_mid.png) left top repeat-y;
}

#youve_got_kudos_bot {
	width: 944px;
	height: 33px;
	background: url(container944_bot.png) left bottom no-repeat;
}

#youve_got_kudos_cont h1 {
	font: normal 4em "Copse", Arial, Helvetica, sans-serif;
	color: #1f6994;
	text-align: center;
}

#invite_col_left, #invite_col_right {
	float: left;
	width: 452px;
}

#invite_col_left { 
	padding: 0 0 0 35px;
	margin-right: 40px;
}

#invite_col_right {
	padding: 0 35px 0 0;
}

#invite_col_left h2, #invite_col_right h2 {
	font: normal 2.4em "Copse", Arial, Helvetica, sans-serif;
	color: #1f6994;
	text-align: left;
}

#invite_col_left div.kudo_message_bubble_cont {
	width: 370px;
}

#invite_col_left div.kudo_message_mid {
	background: url(kudo_message_mid_sprite.png) no-repeat left -368px;
}

#invite_col_left div.kudo_message_top {
	width: 526px;
	background: url(kudo_message_top_sprite.png) no-repeat left -22px;
}

#invite_col_left div.kudo_message_bot {
	width: 526px;
	background: url(kudo_message_bot_sprite.png) no-repeat left -26px;
}

