%h3= t :your_facebook_friends_list


- if @facebook_friends.any?

  %table.admin_type1
    %thead
      %th= t :facebook_friend_name
    %tbody
      - for friend in @facebook_friends do
        %tr
          %td= friend.name

- else

  = button_to t(:pull_my_friends_from_facebook), user_facebook_friends_path(@user), :method => :post
