%fieldset
  %legend= t :user_identities

  = render :partial => "/identities/index", :locals => {:identities => @user.identities}

  %p= link_to t(:add_new_identity), new_admin_user_identity_path(@user)